 {% extends 'template.html' %}
 {% block head %}
 <title>Ajouter une Recette</title>
 {% endblock %}
 {% block content %}
 {% if session != true %}
 <p>Connectez-vous pour accéder à cette fonctionnalité</p>
 {% else %}
 <div class="container">
 <div class="liste_nom"></div>
 <form enctype="multipart/form-data" action="{{locate}}/MyFridgeFood/add_recipe/{{session.id}}" class="adding_recipe" method="post">
    <ul class="stepper horizontal">
        <li class="step active">
                <div class="step-title waves-effect waves-dark">Ingrédients</div>
                <div class="step-content">
                <div id="products">
                        <div class="searching-panel row">
                        </div>
                    </div>
                    <div class="search col s12 m12 l12">
                        <form class="filters" action="{{ locate }}/MyFridgeFood/search" method="post">
                            <div class="input-field l12">
                                <i class="material-icons prefix">search</i>
                                <input type="search" maxlength="80" size="80" name="search" id="autocomplete-input" class="autocomplete searched">
                                <label for="autocomplete-input">Rechercher un produit</label>
                            </div>
                        </form>
                        <button type="button" class="reset">Reset</button>
                    </div>
                    <div class="input-field">
                            <div class="chips"></div>
                        </div>
                        <br/>
                    </div>
        </li>
    <li class="step">
            <div class="step-title waves-effect waves-dark">Infos de la recette</div>
            <div class="step-content">
        <div class="input-field">
        <label for="nom_recette">Nom de la recette</label>
            <input type="text" name="nom_recette" id="nom_recette">
        </div>
        <br/>
        <div class="input-field">
            <input type="text" name="time_prep" id="time"> <label for="time">Temps de préparation</label>
        </div>
        <div class="input-field">
            <input type="text" name="person_for" id="person"> <label for="person">Pour combien de personnes</label>
        </div>
                <div class="input-field">
                    <select name="category" id="category">
                        <option value="" disabled selected>Sélectionner une catégorie</option>
                        <option value="Entrée">Entrée</option>
                        <option value="Apéritifs">Apéritifs</option>
                        <option value="Soupes">Soupes</option>
                        <option value="Plats">Plats</option>
                        <option value="Viande">Viande</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Végétarien">Végétarien</option>
                    </select>
                </div>
        </div>
     </li>
     <li class="step">
            <div class="step-title waves-effect waves-dark">Difficulté et préparation de la recette</div>
            <div class="step-content">
        <div class="input-field">
            <select name="difficulty" id="diff">
                <option value="" disabled selected>Difficulté de la recette</option>
                <option value="Facile">Facile</option>
                <option value="Normal">Normal</option>
                <option value="Intermédiaire">Intermédiaire</option>
                <option value="Expert">Expert</option>
            </select>
        </div>
        <div class="input-field">
            <label for="preparation">Préparation de la recette</label>
        <textarea type="text" name="preparation" id="preparation"></textarea>
        </div>
        <br/>
     <div class="input-field">
        <input type="file" id="photo" name="file"> <label for="photo"> Image de votre recette </label>
     </div>
     <input type="hidden" name="id_food" class="ids" value="">
     <input type="hidden" name="name_food" class="names" value="">
     <div class="input-field">
     <input type="submit" class="btn" value="submit" name="submit">
     </div>
     </div>
     </li>
     </ul>
 </form>
 </div>
 {% endif %}
 {% endblock %}
     {% block footer %}
     <script type="text/javascript">
         $('.adding_recipe').submit(function (e) {
             var ids = listId.join(",");
             var names = listNames.join(",");
             $('.ids').val(ids);
             $('.names').val(names);
         });
         $('.reset').click(function () {
             alphabet("default");
             $('.article_list').html('');
             listCalories = [];
             x = 0;
             CalorieUtilise = 0;
             utilise = 0;
             besoinRestant = 0;
         });
         alphabet("default");
     </script>
     {% endblock %}